/**
* Collapse Component Style for UXCore
* @author vicent.bian
*
* Copyright 2014-2015, UXCore Team, Alinw.
* All rights reserved.
*/

@collapse-prefix-cls: kuma-collapse;

.@{collapse-prefix-cls} {
  background-color: @basic-300;
  border: 1px solid @border-color;

  & > &-item {
    border-top: 1px solid @border-color;
    &:first-child {
      border-top: none;
    }

    > .@{collapse-prefix-cls}-header {
      height: 38px;
      line-height: 38px;
      padding-left: 32px;
      padding-right: 16px;
      font-size: 14px;
      color: @text-secondary-color;
      cursor: pointer;
      position: relative;

      .arrow {
        position: absolute;
        top: 0;
        left: 0;
        display: inline-block;
        color: @text-thirdary-color;
        vertical-align: middle;
        font-style: normal;
        width: 32px;
        text-align: center;
        &:before {
          font-family: 'kuma' !important;
          content: "\e615";
          font-size: 14px;
        }
      }
    }
  }

  &-content {
    display: none;
    overflow: hidden;
    color: @text-secondary-color;
    padding: 0 16px;
    background-color: #fff;

    & > &-box {
      padding-top: 16px;
      padding-bottom: 16px;
    }

    &-active {
      display: block;
    }
  }

  &-collapsing {
    transition-duration: .24s;
    transition-timing-function: ease-out;
  }

  & > &-item-active {
    > .@{collapse-prefix-cls}-header {

      .arrow {
        &:before {
          content: "\e614";
        }
      }
    }
  }
}
